* {
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  font-family: Helvetica;
}

body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.header{
  text-align: center;
  padding: 2rem;
}

.header h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header h2{
  color: #333;
}

.formcontainer{
  margin: 0 auto;
  background-color: #ccc;
  max-width: 500px;
  min-height: 400px;
  padding: 1.5rem;
  box-shadow: rgba(100, 100, 111, .2) 0px 7px 29px 0px;
  border-radius: 10px;
  color: #333;
}

.formcontainer form{
  max-width: 100%;
}

.inputscontainer{
  min-height: 380px;
  max-width: 90%;
  margin-left: 5%;
}

.form-control{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}	

.form-control input{
  margin: 1rem 0rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

textarea{
  margin: 1rem 0rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  height: 200px;
  resize: none;
}

label{
  font-weight: bold;
}

.actions{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

button{
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: .3s;
}

button:hover{
  background-color: #333;
  color: #fff;
}